<div class="row">
	<div class="col-lg-11 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon green pull-left">
					<i class="fa fa-users"></i>
				</div>
				<div class="title"> {{cours.length}} cours</div>
				<div class="comment">aujourd'hui</div>
			</rd-widget-body>
		</rd-widget>
	</div>
</div>

<div class="row">
	<div class="col-lg-11">
		<rd-widget>
			<rd-widget-header icon="fa-users" title="Cours du {{date | niceDate}}">
			<a class="btn btn-default btn-sm" ng-click="today()" role="button">Aujourd'hui</a>
			 	<ul class="pagination pagination-sm pull-right">
		         	<li><a ng-click="changeDay(-1)">&laquo;</a></li>
		         	<li><a ng-click="changeDay(1)">&raquo;</a></li>
			     </ul>			</rd-widget-header>
			<rd-widget-body classes="no-padding">
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr><th class="text-center">Répetition</th><th>Cours</th></tr>
						</thead>
						<tbody>
							<tr ng-repeat="cours in list">
								<td class="text-center">{{cours.repetition || 1}}</td>
								<td><a ui-sref="edit({id: cours._id})">{{cours.name}} ( {{cours.repetition}} )</a></td>
							</tr>

						</tbody>
					</table>
        		</div>
			</rd-widget-body>
		<rd-widget>
	</div>
</div>